body{
    background-color: var(--color-bg);
    /* grid-template-columns: 20% 1fr 1fr ;
   grid-template-rows:  10% 1fr 6%; */
  flex-direction: column;
  position: relative;
}
/* page Header */
.page-header{
 background-color: var(--light-gray);
 /* grid-column: 2/-1; */
 align-self: flex-start;
 align-self: stretch;
 padding-block: 1rem;
 padding-inline: 1.5rem;
 border-bottom: rgb(204, 204, 204) 0.05rem solid;  
 position: relative;
}
.page-header .open{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
    animation: fromLeft .5s ease-in-out .5s 1 normal backwards;
}
.page-header .hide-open{
    animation: hide .3s ease-in-out .5s 1 normal backwards !important;
}
.page-header .show-open{
    display: initial;
}
.page-header .container{
    align-items: center;
    justify-content: space-between;
}
.page-header .container .logout-icon{
    cursor: pointer;
}
.page-header .login-mode{
    margin: auto;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgb(111, 111, 111);
}
/* side section */
.side-section{
    position: fixed;
    background-color: #191A19;
    /* grid-row: 1/span 3; */
    width: 11.06rem;
    left: 0;
    min-height: 100vh;
    transition: .5s ease-in-out;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.side-section .close{
    position: absolute;
    z-index: 4;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    transition:  .3s ease-in-out;
}
.side-section .close:hover{
    fill: #e9ecef !important;
}
.side-section .side-header{
    border-bottom: rgba(255, 255, 255, 0.5) 0.1rem solid;
    align-items: center;
    flex-direction: column; 
    padding-block: 1rem 1.5rem; 
}
.side-header .user-name{
    color:var(--color-bg);
    font-weight: 500;
    font-size: .9rem;
}
.side-section .nav-item{
   gap: .5rem;
    padding-inline: 1rem;
    cursor: pointer;
}
.nav-items{
    padding-top: 2.5rem;
    flex-direction: column;
    gap: 1rem;
}
.side-section a{
    color: var(--color-bg);
    opacity: .75;
    font-size: .87rem;
    transition:  .3s ease-in-out;
}
.nav-item:hover a{
    color: var(--darker-white);
    opacity: 1;
}
.close-side{
    left: -11.06rem !important;
}
/* main content */
.main-content{
 
 flex-grow: 1;
 color: black;
 /* grid-column: 2/-1; */
}
/* footer */

/* common properties */
.container{
    max-width: 78rem;
}
.page-header,
.page-footer,
.main-content{
    margin-left: 11.06rem;
    transition: margin-left .5s ease-in-out;
}
.normal-width{
    margin-left: 0% !important;
}
/* animations */
@keyframes fromLeft {
	0% {
		opacity: 0;
		transform: translate(-50px,-50%);
	}

	100% {
		opacity: 1;
		transform: translate(0,-50%);
	}
}
@keyframes hide {
    0% {
		opacity: 1;
		transform: translate(0,-50%);
	}
    100% {
		opacity: 0;
		transform: translate(-50px,-50%);
	}

}
/* Media queries */
@media (min-width: 900px){
    /* side bar */
    .side-section{
        width: 14rem;
    }
    .close-side{
        left: -14rem !important;
    }
.side-section .nav-item{
    padding-left: 1.5rem;
}
    /* common properties */
    .page-header,
    .page-footer,
    .main-content{
    margin-left: 14rem;
    
}
}