@import url("styles.css");
body{
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
   
    overflow-y: auto;
}
body::before{
    content: "";
    position: fixed;
    background-color: var(--dark);
    top: 0;
    min-height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    opacity: var(--opacity);
    pointer-events: var(--pointer-events);
    transition: opacity .5s ease-in-out;
    overflow-y: auto;
}
.page-header{
    background-color: #f6f6f6;
    width: 100vw;
}
.page-header .image-container{
    max-width: 7rem;
    margin: auto;
    padding-block: 1rem 0;
}
.page-logo{
    width: 100%;
}
.page-header .nav-bar{
    width: 100%;
    background-color: var(--dark);
    padding-block: 1rem;
}
.navigation-items{
    justify-content: center;
    gap: 2rem;
    align-items: center;
    position: relative;
}
.navigation-items .nav-item:not(.login){
    position: relative;
}
.navigation-items .nav-item:not(.login)::after{
    content: "";
    position: absolute;
    height: .1rem;
    width: 100%;
    left: 0;
    bottom:0;
    transform: scaleX(0);
    background-color: var(--darker-white);
    transition: transform .3s ease-in-out;
}
.navigation-items .nav-item:not(.login):hover:after{
    transform: scaleX(1);
}
.navigation-items .nav-item a{
    font-family: 'Merriweather', serif;
    color: var(--darker-white);
    font-weight: 500;
}
.navigation-items .login{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.navigation-items .login .login-icon{
    transition: fill .3s ease-in-out;
}
.navigation-items .login .login-icon:hover{
    fill: #929aab !important;

}

main{
    flex-grow: 1;
    background-image: url(../images/hero_image_example.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: max-content;
    
}
main::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark);
    opacity: .7;
}
main .login-section{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-20%);
    z-index: 4;
    background-color:#f6f6f6;
    width: 100%;
    max-width: 22rem;
    border-radius: .4rem;
    display: none ;
    animation: login-show 1s ease 0s 1 normal backwards;

}
.login-show{
    display: initial !important;
}
.login-close{
    animation: login-close 1s ease 0s 1 normal backwards !important;
}
.login-section .login-header{
    position: relative;
    padding-bottom: 1rem;
    padding: 1.5rem;
}
.login-header h2{
    font-weight: 600;
    color: rgb(88, 88, 95);
}
.login-header .close-login{
    position: absolute;
    right: 1.5rem;
    bottom: 1.6rem;
    cursor: pointer;
    transition: fill .3s ease-in-out;

}
.login-header .close-login:hover{
    fill: var(--dark) !important;
}
.login-header::after{
    content: "";
    position: absolute;
    background-color: rgb(204, 204, 204);
    width: 100%;
    height: .05rem;
    left: 0;
    bottom: 0;
}
.login-section .login-form {
    padding: 1.5rem;
    flex-direction: column;
    gap: 1rem;
}
.login-form .login-input{
    border: none;
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: .2rem;
    border: var(--Light-grayish-violet) solid .05rem ;
    outline: none;
    /* transition: border-color .3s ease-in-out; */
}
.login-form .login-input:focus{
    border-color: var(--dark) !important;
}
.label-header {
    position: relative;
    display: block;
    margin-bottom: .5rem;
    font-size: .9rem;
    color: rgb(104, 104, 104);
}

.btn.login{
    margin-top: 2rem;
    border: none;
    border-radius: .3rem;
    padding: .8rem 1rem;
    width: 80%;
    margin-inline: auto;
    background-color: #1B2430;
    color: var(--darker-white);
    font-size: .95rem;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-bottom: 1rem;
}
.btn.login:hover{
    background-color: #3a445c;
    color: var(--white);
}
main article{
    position: relative;
    z-index: 2;
    color: var(--darker-white);
    
    display: none;
    animation: fromTop 1s ease 0s 1 normal backwards;
}
.show-article{
    display: initial;
}
main .container{
    width: 100%;
    place-items: center;
    flex-grow: 1;
}
main article .article-title{
    font-size: 2.8rem;
    font-weight: 500;
    /* letter-spacing: .1rem; */
    color: var(--white);
    margin-bottom: 1.5rem;
    max-width: 20ch;
    margin-inline: auto;
}
main .home-text{
    line-height: 1.6;
    max-width: 80ch;
    margin-inline: auto;
}

/* animations */
@keyframes fromTop {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes login-show { 
	0% {
		opacity: 0;
		transform: translate(-50%,-200px);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -20%);
	}
}
@keyframes login-close { 
	
	0% {
		opacity: 1;
		transform: translate(-50%, -20%);
	}
    100% {
		opacity: 0;
		transform: translate(-50%,-200px);
	}
}
/* Media queries */
@media (max-width: 900px){
    /* page header */
.navigation-items .nav-item a{
    font-size: .9rem;
}
/* main section */
main article .article-title{
    font-size: 2rem;
}
main .home-text{
    font-size: .9rem;
}

    /* login section */
    main .login-section{
        top: -30%;
        transform: translate(-50%, 0);
    }
    @keyframes login-show { 
        0% {
            opacity: 0;
            transform: translate(-50%,-200px);
        }
    
        100% {
            opacity: 1;
            transform: translate(-50%, 0);
        }
    }
    @keyframes login-close { 
	
        0% {
            opacity: 1;
            transform: translate(-50%, 0);
        }
        100% {
            opacity: 0;
            transform: translate(-50%,-200px);
        }
    }
}